---
import BaseLayout from "../layouts/BaseLayout.astro";

const me = {
    firstName: "Sam",
    lastName: "Watts",
    country: "Scotland",
    occupation: "Student",
    age: 19,
};

const interests = ["coding", "gaming", "music"];

const skills = ["C", "Python", "C++", "Java", "HTML", "CSS"];

// const skillColor = "blue";
---

<BaseLayout pageTitle="About Me">
    <p>Heyyyyy, my name is {me.firstName} and i like to code! ╰(*°▽°*)╯</p>
    <p>I am a {me.occupation} from {me.country} and i am {me.age} years old.</p>
    <p>My interests include:</p>
    <ul>
        {interests.map((interest) => <li>{interest}</li>)}
    </ul>

    <p>My skills include:</p>
    <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
</BaseLayout>
